<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Pop-up income calls widget</h2>
        <h3 class="oe_slogan">
            Smart and simple pop-up income calls widget by use Asterisk AMI.
            Compatible with any Asterisk servers like FreePBX, Issabel, AsteriskNow, Elastix, TrixBox.
        </h3>
        
        <h2 class="oe_slogan"> Purpose and features </h2>
        
        <div class="oe_span6">
            <img src="/asterisk_popup4income/static/description/image/popup.png">
        </div>

        <div class="oe_span6">
            <ul>
                <li>Receiving events of the Asterisk telephony server using AMI</li>
                <li>Configure the search for records in the odoo database based on the values of the fields from the received event</li>
                <li>Configure actions when an event is received</li>
                <li>Transfer of values from the received event to forms, lists, tables and other interface elements</li>
            </ul>
        </div>
    </div>

</section>
