<button data-action="195"
        data-action-domain='[["sequence", "=", "1"]]'
        data-action-args='{"view_type": "list"}'
        class='btn btn-sm btn-primary'>
    Open all as list
</button>


<button data-action="195"
        data-action-args='{"view_type": "form", "res_id": "."}'
        class='btn btn-sm btn-primary'>Open this one in form</button>



<form>
    <div class="row">
        
        <div class="col-xs-6">
            <div class="form-group">
                <label>Имя</label>
                <div class="form-control"><t t-esc="record.name"/></div>
            </div>
        </div>
        
        <div class="col-xs-6">
            <div class="form-group">
                <label>Адрес</label>
                 <div class="form-control"><t t-esc="record.street"/></div>
            </div>
        </div>

       <div class="col-xs-6">
            <button data-action="hr.open_view_employee_list_my"
                    data-action-args='{"view_type": "form", "res_id": "."}'
                    class='btn btn-sm btn-primary'>Редактировать</button>

            <button data-action="hr.open_view_employee_list_my"
                    data-action-domain='[["work_location", "=", "Building 1"]]'
                    data-action-args='{"view_type": "kanban"}'
                    class='btn btn-sm btn-primary'>Список</button>

            <button data-action="hr.open_view_employee_list_my"
                    data-action-args='{"view_type": "form"}'
                    class='btn btn-sm btn-primary'>Новый сотрудник</button>

      </div>

    </div>
</form>



<form>
    <div class="row">
       <div class="col-xs-6">
            <button data-action="project.action_view_task"
                    data-action-args='{"view_type": "form", "res_id": "."}'
                    class='btn btn-sm btn-primary'>Открыть задачу</button>

            <button data-action="project.action_view_task"
                    data-action-args='{"view_type": "form"}'
                    class='btn btn-sm btn-primary'>Новая задача</button>

            <button data-action="project.action_view_task"
                    data-action-args='{"view_type": "list"}'
                    data-action-domain='[["active", "=", "True"]]'
                    data-action-context='{"search_default_my_tasks": 0}'
                    class='btn btn-sm btn-primary'>Открыть задачи заказчика</button>
      </div>

    </div>
</form>