.align-right {
    float: right;
}

.asterisk_popup4income__previwer {
    position: absolute;
    z-index: 99999;
    bottom: 20px;
    right: 20px;
    width: 450px;
    max-height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    transition: all .4s;
    transform: translateX(calc(100% + 20px));
}

.asterisk_popup4income__previwer--visible {
    transform: translateX(0);

}

.asterisk_popup4income__previwer h2 {
    margin: 5px 0;
}

.asterisk_popup4income__previwer__icon {
    margin-right: 10px;
}

.asterisk_popup4income__previwer__panel {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    flex-direction: column;
    display: flex;
    max-height: 100%;
    min-height: 0;
}

.asterisk_popup4income__previwer__panel .panel-body {
    padding: 0;
}

.asterisk_popup4income__previwer__list-group {
    border: none;
    overflow: auto;
}

.asterisk_popup4income__previwer__list-group, .asterisk_popup4income__previwer__panel {
    margin: 0;
}

.asterisk_popup4income__previwer .list-group-item {
    font-size: 15px;
    border-radius: 0;
}

.clickable {
    cursor: pointer;
}

.asterisk_popup4income_form textarea, .asterisk_popup4income_form input[type=text], .asterisk_popup4income_form span.o_form_field {
    font-family: monospace;
}

.asterisk_popup4income__previwer__actions-block {
    padding: 12px;
}

.asterisk_popup4income__previwer__impersonal-action, .asterisk_popup4income__previwer__action {
    display: inline-block;
    cursor: pointer;
    margin: 0 7px 7px 0;
    font-size: 13px;
    border-bottom: 1px dashed #ad4c02;
    color: #ad4c02;
}

.asterisk_popup4income__previwer__action:hover {
    border-bottom: 1px dashed #b95415;
    color: #692f0d;
}

.asterisk_popup4income__previwer__actions-record-block {
    margin-top: 15px;
    display: none;
}

.asterisk_popup4income__previwer-item-record--active .asterisk_popup4income__previwer__actions-record-block {
    display: block;
}

.asterisk_popup4income__previwer__actions-impersonal-block {
    margin-top: 10px;
}